<style> {}


.facebook-button {
	Display: inline-block;
	padding: 10px 20px;
	background-color: #1877f2;
	color: white;
	text-decoration: none;
	font-family: "heveltica neue", arial, sans-serif;
	font-weight: bold;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s;
}

.facebook-button:hover {
	background-color: #0e0446;
}

.Insta-button {
	Display: inline-block;
	padding: 10px 20px;
	background-color: #f2189e;
	color: white;
	text-decoration: none;
	font-family: "heveltica neue", arial, sans-serif;
	font-weight: bold;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s;
}

.Insta-button:hover {
	background-color: #91087e;
}

.x-button {
	Display: inline-block;
	padding: 10px 20px;
	background-color: #2e3236;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-family: "helveltica neue", arial, sans-serif;
	font-weight: 900;
	transform: scaleX(0.9);
	transition: background-color 0.3s;

}

.x-button:hover {
	background-color: #000000;
}

.page1 {
	Display: inline-block;
	padding: 10px 20px;
	background-color: hsl(258, 71%, 51%);
	color: rgb(0, 255, 64);
	text-decoration: none;
	border-radius: 40px;
	font-weight: 900px;
	transition: background-color 0.3s;
	font-family: "heveltica neue", arial, sans-serif;

}

.page1:hover {
	background-color: #340542;
}

.page2 {
	Display: inline-block;
	padding: 10px 20px;
	background-color: hsl(258, 71%, 51%);
	color: rgb(0, 255, 64);
	text-decoration: none;
	border-radius: 40px;
	font-weight: 900px;
	transition: background-color 0.3s;
	font-family: "heveltica neue", arial, sans-serif;
}

.page2:hover {
	background-color: #340542;
}

.page3 {
	Display: inline-block;
	padding: 10px 20px;
	background-color: hsl(258, 71%, 51%);
	color: rgb(0, 255, 64);
	text-decoration: none;
	border-radius: 40px;
	font-weight: 900px;
	transition: background-color 0.3s;
	font-family: "heveltica neue", arial, sans-serif;
}

.page3:hover {
	background-color: #340542;
}

.xd {
	margin: 10px;
	Display: inline-block;
	padding: 20px 40px;
	background-color: hsl(258, 71%, 51%);
	color: rgb(0, 255, 64);
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: medium;
	transition: background-color 0.3s;
	font-family: "heveltica neue", arial, sans-serif;
}

.xd:hover {
	background-color: #340542;
}



.logocontainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logocontainer img {
	transition: transform 0.5s;


}

.logocontainer:hover img {
	transform: scale(1.05);
}


body {
	max-width: 200vh;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	line-height: 1.6;
	color: #333;
	background-color: rgb(190, 190, 190);
	font-family: "roboto", sans-serif;
	margin: 0;
	display: grid;


}

nav {
	background: #8ff0e8;
	padding: 10px;
	border-radius: 20px;
}

main {
	background-color: #bcc6e7;
	border-radius: 20px;
}

.buttonnav {
	display: flex;
	gap: 20;
	flex-wrap: wrap;
	justify-content: center;
}

.titulos {
	display: flex;
	gap: 20;
}

article {
	margin: 5px;
	background-color: #cfdae7;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
	justify-content: right;
}

/*fuentes*/

h1 {
	font-size: 2.5rem;
	color: #000080;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

h2 {
	font-size: 1.8rem;
	border-bottom: 2px solid #1d0358;
	padding-bottom: 10px;
}


p {
	margin-bottom: 15px;
	color: #555;
	overflow-wrap: break-word;
	text-align: justify;
	max-width: 800px;

}

.informejjk {
	max-width: 650px;
	overflow-wrap: break-word;
	text-align: justify;
}


img {
	border-radius: 8px;
	max-width: 100%;
}


.contenedor-principal {
	width: 350px;
	background-color: #b0a2ff;
	padding: 5px;
	height: 1200px;
	border-radius: 8px;
	display: flex;
	overflow: auto;
	flex-wrap: wrap;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.cuerpo1 {
	flex: 1;
}

.barra1 {
	height: 200%;
}


</style>